

/* INDEX PAGE */

.header {
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;

    &__list {
        display: flex;
        padding-left: 97px;
    }

    &__logo {
    font-style: normal;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
            
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    }

    &__link {
            font-style: normal;
                display: block;
                position: relative;
                padding: 32px 0 31px 0;
                font-weight: 500;
                line-height: 16px;
                letter-spacing: 0.02em;
                color: #212121;
            
                transition-property: color;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

}


li.nav__item:not(:last-child) {
    margin-right: 60px;
}

.contact__list {
    display: flex;
}

.contact__list li:not(:last-child) {
    margin-right: 50px;
}


/*logo*/
a.nav__logo,
a.footer__logo {
    font-style: normal;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}




.current-link {
    color: #2196F3;
}


.nav__link:hover,
.nav__link:focus {
    color: #2196F3;
}

.current-link::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    position: absolute;
    display: flex;
    bottom: -1px;

    border-radius: 2px;
    transition: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    position: absolute;
    display: flex;
    bottom: -1px;

    border-radius: 2px;
    transition: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}




/* header contact info */
.contact__link {
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;

    display: flex;
    align-items: center;
    padding: 32px 0 31px 0;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.contact__link:hover {
    color: #2196F3;
}

.contact__svg {
    margin-right: 10px;
    fill: currentColor;
}

.contact__svg:hover,
.contact__svg:focus {
    fill: #2196F3;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}