.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* button of Index */
.button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    letter-spacing: 0.06em;
    border: none;

    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

    padding: 10px 19px 10px 20px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
}

/*ALL IMAGES */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*BACKGROUND OF THE TITLE*/
.page-main {
    padding: 200px 0;
    background-color: #2f303a;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url("../images/background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__header {
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 30px;
    }
}

/* benefit portion */
.benefits__list {
    display: flex;
    justify-content: center;

    &__goals {
        display: flex;
        justify-content: space-evenly;
            display: flex;
                align-items: center;
                justify-content: center;
                background: #F5F4FA;
                border-radius: 4px;
                width: 270px;
                height: 120px;
                margin-bottom: 30px;
    }
    &__header {
            font-style: normal;
                font-weight: 700;
                line-height: 16px;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: #212121;
                margin-bottom: 10px;
    }
    &__details {
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    
    }
}

/*icons of the first list of goals */
li.benefits__item:not(:last-child) {
    margin-right: 30px;
    padding-right: 20px;
}


/* 2 - what we do */
.section {
    padding: 94px 0;

    &__no-padding {
        padding-top: 0px;
    }

    &__wwd-list {
        display: flex;
        justify-content: center;
    }

    &__wwd-images {
    position: relative;
    }

    &__wwd-paragraph {
        position: absolute;
        width: 100%;
        padding: 20px 0;
        bottom: 0;
        background: rgba(47, 48, 58, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
    
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #FFFFFF;
    }

}

.section__wwd-images:not(:last-child) {
    margin-right: 30px;
}

li.section__wwd-items:not(:last-child) {
    padding-right: 30px;
}

/* Our Team */
.section__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;

    &__our-team-list {
        display: flex;
        justify-content: center;
        align-items: center;        
    }

    &__our-team-item {
        background: #FFFFFF;
        padding-bottom: 30px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    &__team-member {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        margin-bottom: 10px;
    }

    &__logo-our-team {
        margin-bottom: 30px;
    }

    &__team-position {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;
    }

}

.section-team {
    background-color: #f5f4fa;
}

li.section__our-team-item:not(:last-child) {
    margin-right: 30px;
}

/* regular customers */

.section__customers-list {
    display: flex;

    &__customers-item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 170px;
            height: 92px;
            fill: #AFB1B8;
            border: 1px solid #AFB1B8;
            border-radius: 4px;
    
            transition-property: fill, border;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover, &:focus {
        fill: #2196F3;
        border: 1px solid #2196F3;
    }

    }
}

li.section__customers-item:not(:last-child) {
    margin-right: 30px;
}

/*LIST class of social media icons */
.socials {
    margin-top: 16px;

    &__social-media-list {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    &__social-svg {
        fill: currentColor;
    }
    &__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    color: #AFB1B8;
    border-radius: 50%;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        background-color: #2196F3;
        color: white;        
    }
    }
}

.socials__social-item:not(:last-child) {
    margin-right: 10px;
}