/* buttons of portfolio */
.button-nav {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;

    color: #212121;
    border: none;
    background-color: #F5F4FA;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 26px;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        background-color: #2196F3;
        color: #FFFFFF;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);        
    }

}

.filter__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


li.filter__item:not(:last-child) {
    margin-right: 8px;
}

/* filter of the buttons */

.filter-current {
    background-color: #2196F3;
    color: white;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button__request:hover {
    background-color: #188CE8;

}

/* portoflio list of images and titles with description */

.project__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -30px;
    margin-left: -30px;
}

.project__item {
    margin-top: 30px;
    margin-left: 30px;
}


.project__box {
    position: relative;
    overflow: hidden;
}

.project__image {
    display: block;
    width: 100%;
}


.project__overlay {
    position: absolute;
    width: 100%;
    top: 100%;
    height: 100%;
    padding: 50px 24px;
    background-color: rgba(33, 150, 243, 0.9);

    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        opacity: 1;
        height: 100%;    
            top: 0;
    }
}

.project__overlay>p {

    color: #fff;
    margin: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
}


.project__link {
    display: block;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        top: 0;
    }
}


/* Text under images */

.project__textbox {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

h2.project__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;

    padding: 0px 0px 4px 0px;
}

p.project__text {
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}