/* INDEX PAGE */

.header {
    border-bottom: 1px solid #ECECEC;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
    padding-left: 97px;
}

li.nav__item:not(:last-child) {
    margin-right: 60px;
}

.contact__list {
    display: flex;
}

.contact__list li:not(:last-child) {
    margin-right: 50px;
}


/*logo*/
a.nav__logo,
a.footer__logo {
    font-style: normal;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}



/* navigator */
.nav__link {
    font-style: normal;
    display: block;
    position: relative;
    padding: 32px 0 31px 0;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.current-link {
    color: #2196F3;
}


.nav__link:hover,
.nav__link:focus {
    color: #2196F3;
}

.current-link::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    position: absolute;
    display: flex;
    bottom: -1px;

    border-radius: 2px;
    transition: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    position: absolute;
    display: flex;
    bottom: -1px;

    border-radius: 2px;
    transition: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}




/* header contact info */
.contact__link {
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;

    display: flex;
    align-items: center;
    padding: 32px 0 31px 0;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.contact__link:hover {
    color: #2196F3;
}

.contact__svg {
    margin-right: 10px;
    fill: currentColor;
}

.contact__svg:hover,
.contact__svg:focus {
    fill: #2196F3;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


/*icons of the first list of goals */

.benefits__goals {
    display: flex;
    justify-content: space-evenly;

}

li.benefits__item:not(:last-child) {
    padding-right: 20px;
}


/* page heading */
h1.page-main__header {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

/* button of Index */
.button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    letter-spacing: 0.06em;
    border: none;

    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

    padding: 10px 19px 10px 20px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.is-hidden {
    visibility: hidden;
    opacity: 0;
}






.modal-backdrop {
    z-index: 100;
    position: fixed;
    transition: opacity 250ms cubic-bezier(0.075, 0.82, 0.165, 1),
        visibility 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

}

.modal-backdrop__container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    padding: 40px;

    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}

/* the X to close the modal */



.modal-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    right: 11px;
    top: 8px;
    position: absolute;
    border-radius: 50%;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-button:hover,
.modal-close-button:focus {
    color: #2196F3;
}

.mmodal-close-button__closing-svg {
    cursor: pointer;
    fill: currentColor;
}


/*within the MODAL WINDOW - FORM */

.form-header {
    font-family: 'Roboto';
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}


.signup-form {
    position: absolute;
    display: flex;
}


.input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    letter-spacing: 0.01em;
    color: #757575;
}

.form-container__label {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-container__label:hover,
.form-container__label:focus {
    color: #757575;
    border-color: #188CE8;
    fill: #188CE8;
}

.form-container__span {
    position: absolute;
    top: -16px;

}


.label {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 8px;
    width: 33px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #757575;

    margin-top: 75px;
    margin-left: 40px;
    left: 40px;
    padding: 10px;

}


.form-container__input {
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 10px;
    padding-left: 30px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



.form-container__input:hover,
.form-container__input:focus {
    outline: none;
    border-color: #2196F3;
    cursor: pointer;

}

.form-container__svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
}


.form-container__textarea {
    padding: 16px;
    resize: none;
    font-family: 'Roboto';
    font-style: normal;

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;

    border-color: rgba(117, 117, 117, 0.5);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.form-container__textarea:hover,
.form-container__textarea:focus {
    border-color: #2196F3;
    cursor: pointer;
    outline: none;

}

/* Checkmark  */

.form-container__check {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
}

.form-container__check .form-container__checkmark {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-container__check .form-container__check-svg {
    width: 16px;
    height: 16px;
    margin-right: 7px;
    fill: none;
    border: 2px solid #212121;
    border-radius: 2px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-container__check .form-container__checkmark:focus+.form-container__check-svg,
.form-container__check .form-container__checkmark:checked:focus+.form-container__check-svg {
    outline: 2px solid #212121;
}

.form-container__check .form-container__checkmark:checked+.form-container__check-svg {
    background-color: #2196f3;
    border-color: #2196f3;
    fill: #ffffff;
    outline: none;
}

/* above, checkmark */

.send-button {
    width: 200px;
    height: 50px;

    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}


.send-button:hover,
.send-button:focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}





/*BACKGROUND OF THE TITLE*/
.page-main {
    padding: 200px 0;
    background-color: #2f303a;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url("../images/background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.page-main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* heading with goals */
h3.benefits__header {
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;

}

.benefits__goals {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5F4FA;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;

}

.section {
    padding: 94px 0;

}

.benefits__list {
    display: flex;
    justify-content: center;
}


p.benefits__details {
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;

}

li.benefits__item:not(:last-child) {
    margin-right: 30px;
}


/* what we do */

.section__no-padding {
    padding-top: 0px;
}


.section__wwd-list {
    display: flex;
    justify-content: center;
}

li.section__wwd-items:not(:last-child) {
    padding-right: 30px;
}

/* Our Team */
.section__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.section-team {
    background-color: #f5f4fa;
}

.section__our-team-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

li.section__our-team-item:not(:last-child) {
    margin-right: 30px;
}

.section__our-team-item {
    background: #FFFFFF;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.section__logo-our-team {
    margin-bottom: 30px;
}

h3.section__team-member {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
}

p.section__team-position {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.section__wwd-images {
    position: relative;

}

.section__wwd-image {
    display: flex;
}

.section__wwd-paragraph {
    position: absolute;
    width: 100%;
    padding: 20px 0;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.section__wwd-images:not(:last-child) {
    margin-right: 30px;
}

/* new from down here for the social icons */




/* regular customers */

.section__customers-list {
    display: flex;
}

.section__customers-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

li.section__customers-item:not(:last-child) {
    margin-right: 30px;
}


.section__customers-item:hover,
.section__customers-item:focus {
    fill: #2196F3;
    border: 1px solid #2196F3;

}




/* social media footer icons / UL class */


/*LIST class of social media icons */

.socials {
    margin-top: 16px;
}

/*UL list of the OUR teams icon */
.socials__social-media-list {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* svg */
.socials__social-svg {
    fill: currentColor;
}

/* PORTFOLIO PAGE */


.logo-header-portfolio {
    margin: 24px 0px 25px 215px;
}



/* contact on the header */
ul.contact__link {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;

}




/* footer */


.socials__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    color: #AFB1B8;
    border-radius: 50%;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__social-link:hover,
.socials__social-link:focus {
    background-color: #2196F3;
    color: white;
}

.socials__social-item:not(:last-child) {
    margin-right: 10px;
}




/*ALL IMAGES */

img {
    display: block;
    max-width: 100%;
    height: auto;
}