/* benefits */

$paleWhite: #f5f4fa;
$benefitsBorderRadius: 4px;
$benefitsWidth: 270px;
$benefitsHeight: 120px;
$fontStyle: normal;


/* what we do */

$wwdWidth: 100%;
$wwdFontWeight: 700;
$wwdFontSize: 14px;


/* our team */

$